<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MinPhoto - Store Your Life Faster. </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/theme.css" media="all">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/mychange.css" media="all">

</head>
<body>

<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{:U('Index/index')}">MinPhoto</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="{:U('Photo/upload')}">Upload</a></li>
                <li>
                    <a href="{:U('Photo/album')}">Album</a>
                    <ul>
                        <li><a href="{:U('Photo/album','','')}/public">Public Album</a></li>
                        <li>
                            <a href="#">Private Album</a>
                            <ul>
                                <volist name="navlist" id="vo">
                                    <li><a href="{:U('Photo/album','','')}/private/{$vo.title}">{$vo.title}</a></li>
                                </volist>

                            </ul>
                        </li>
                        <li><a href="{:U('Photo/create')}">Create New Album</a></li>
                    </ul>
                </li>
                <li><a href="#">Admin</a></li>
                <li><a href="{:U('User/logout')}" class="button">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div id="main" class="wrapper style1">
        <div class="container">