<header class="major">
    <h2>Upload image</h2>
</header>

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form name=theform>
            <label for="album">Private Album List</label>
            <div class="select-wrapper">
                <select name="albumlist" id="album">
                    <volist name="album" id="vo">
                        <option value="{$vo.title}">{$vo.title}</option>
                    </volist>
                </select>
            </div>
            <br />
            <div class="col-xs-12 col-md-6">
                <input type="radio" id="local_name" name="myradio" value="local_name" />
                <label for="local_name">Use local filename</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <input type="radio" id="random_name" name="myradio" value="random_name" checked=true/>
                <label for="random_name">Use random filename</label>
            </div>
        </form>

        <h4>Chosen files List：</h4>
        <div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>

        <br/>


        <div id="container">
            <div class="align-center">
            <a class="button" id="selectfiles" href="javascript:void(0);" class='btn'>Choose File</a>
            <a class="button" id="postfiles" href="javascript:void(0);" class='btn'>Upload</a>
            <a class="button" id="back" href="{:U('Photo/album')}" class='btn'>Back to Album</a>
             </div>
        </div>

        <pre id="console"></pre>

        <p>&nbsp;</p>
    </div>
</div>

<script type="text/javascript" src="__STATIC__/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/plupload.full.min.js"></script>
<script type="text/javascript">
    var geturl = "{:U('oss','','',true)}";
</script>
<script type="text/javascript" src="__STATIC__/js/ossupload.js"></script>
