<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MinPhoto - Store Your Life Faster. </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <link rel="stylesheet" type="text/css" href="__STATIC__/css/home.css" media="all">



</head>

<body class="landing">

<!-- Page Wrapper -->
<div id="page-wrapper">
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h2>MinPhoto</h2>
            <p>Life is Strange<br>
               Then<br>
               Store your life</p>
            <ul class="actions">
                <li><a href="{:U('User/index')}" class="button special">Sign in</a></li>
            </ul>
        </div>
    </section>
</div>

<!-- Scripts -->
<script src="__STATIC__/js/jquery-2.2.3.min.js"></script>

<script src="__STATIC__/js/jquery.scrollex.min.js"></script>
<script src="__STATIC__/js/jquery.scrolly.min.js"></script>
<script src="__STATIC__/js/skel.min.js"></script>
<script src="__STATIC__/js/util.js"></script>


<script src="__STATIC__/js/home.js"></script>

</body>
</html>